<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Aplicación IoT</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <!-- TARJETAS -->
  <!-- <ion-card *ngFor="let e of array" button (click)="buttonClick()">
    <ion-card-header>
      <ion-card-subtitle>ID del dispositivo: {{ e.dispositivoId }}</ion-card-subtitle>
      <ion-card-title>Nombre: {{ e.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Ubicación: {{ e.ubicacion }}
      </p>
      <p>
        ID de electroválvula: {{ e.electrovalvulaId }}
      </p>
    </ion-card-content>
  </ion-card> -->

  <!-- LISTA DE ITEMS -->
  <ion-list>

    <ion-item *ngFor="let e of array" routerLink="/dispositivo/{{e.dispositivoId}}">
      <ion-icon name="thermometer-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>{{ e.nombre }}</h3>
        </ion-text>
        <p>ID del dispositivo: {{ e.dispositivoId }}</p>
        <ion-text color="secondary">
          <p>Ubicación: {{ e.ubicacion }}</p>
          <p>ID de electroválvula: {{ e.electrovalvulaId }}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>