<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   
    <div *ngFor="let e of array">
      <p>ID del dispositivo: {{ e.dispositivoId }}</p>
      <p>Nombre: {{ e.nombre }}</p>
      <p>Ubicación: {{ e.ubicacion }}</p>
      <p>ID de electroválvula {{ e.electrovalvulaId }}</p>
    </div>


  </div>
</ion-content>
