<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mediciones en </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col sizeXl="6" text-center>

      <ion-card>

        <ion-card-header>
          <h1>
            Tabla de mediciones
          </h1>
        </ion-card-header>

        <ion-card-content>

          <ion-row>
            <ion-col col-4>
              <ion-item>
                Fecha
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item>
                Valor
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let medicion of mediciones">
            <ion-col col-4>
              <ion-item>
                {{medicion.fecha}}
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item>
                {{medicion.valor}}
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-card-content>

      </ion-card>

    </ion-col>
  </ion-row>


</ion-content>